
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin: 10px !important;
    padding: 5px !important; 
 }

  .read-more{
    padding: 10px 20px;
    background-color: #6e2a0a;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 200px;
  } 

  .right-content{
    width: 250%;
    padding-left: 20px;
  }

  .price{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    align-items: center;
  }

  .card-header{
    background-color: #8B4513 !important;
  }

  .read-more{
    background-color: #8B4513 !important;
  }

  .left-content{
     justify-content: "center";
  }

  .content{
    text-align: justify;
    text-indent: 50px;
  }

  .left-content h2{
    padding: 10px;
  }
